[submodule "src/core"]
	path = src/main/java/gollorum/signpost/core
	url = https://github.com/Gollorum/Signpost.git
	branch = core
[submodule "src/main/resources"]
	path = src/main/resources
	url = https://github.com/Gollorum/Signpost.git
	branch = resources
